<div *ngIf="workers.length; else loading" class="workers">
  <table class="table table-hover table-borderless">
    <thead>
      <th scope="col">#</th>
      <th scope="col">Workers</th>
    </thead>
    <tbody>
    <tr *ngFor="let worker of workers;
     let idx = index"
     (click)="selectWorker(worker.id, idx)"
     [class.active]="idx == selectedRow"
    >
      <td>{{idx + 1}}</td>
      <td>{{worker.name}}</td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p class="text-center">Loading</p>
</ng-template>
